body, html {
    height: 100%;
    margin: 0;
    padding: 0;
}

#game-container {
    position: relative;
    width: 800px;
    height: 600px;
    margin: auto;
    background-image: url('./Images/galaxy1.jpg'); /* Add your background image URL here */
    background-size: cover;
    background-position: center;
}


.enemy {
    position: absolute;
    width: 30px;
    height: 50px;
    background-image: url('./Images/monster2.jpg');
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center;
}

#spaceship {
    position: absolute;
    bottom: 50px; 
    left: 50%;
    transform: translateX(-50%);
    width: 50px;
    height: 50px;
    background-image: url('./Images/Spaceship2.jpg');
    background-size: cover;
}

.projectile {
    position: absolute;
    width: 20px;
    height: 10px;
    background-color: yellow;
}
